.nav-bar__logo {
	margin: 1.2rem 2% 1.2rem 5%;

	width: 23%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-bar__info {
	width: 65%;
	margin: 0;
	margin-right: 5%;
}

#index h1 {
	font-size: 7rem;
}

#index ul {
	font-size: 3.5rem;
}

#coverage h1,
#contact h1,
#services h1 {
	margin: 0 5%;
}

.flip-card {
	background-color: transparent;
	width: 25rem;
	height: 20rem;
	border: 1px solid var(--primary-color);
	border-radius: 1.6rem;
	perspective: 1000px;
	margin-top: 0.8rem;
}

#services .flip-card-back h1 {
	color: var(--white-color);
	margin: 1.2rem 0;
	font-size: 2.5rem;
}

.coverage-container img {
	height: 70vh;
}

.coverage-data {
	width: 30rem;
	height: 20rem;
	color: var(--black-color);
	align-self: flex-start;
	position: absolute;
	border-radius: 1rem;
	right: 5rem;
	top: 4rem;
}

.contact-container {
	margin-left: 5%;
	padding: 1rem;
}
